[icingaweb_db]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "{{ icingaweb2_db }}"
username = "{{ icingaweb2_db_user }}"
password = "{{ icingaweb2_db_password }}"
charset = "UTF8"
persistent = "0"
use_ssl = "0"
#

[icinga_ido]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "{{ icinga_ido_db }}"
username = "{{ icinga_ido_user }}"
password = "{{ icinga_ido_password }}"
charset = "UTF8"
persistent = "0"
use_ssl = "0"

[icinga_director]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "{{ icinga_director_db }}"
username = "{{ icinga_director_db_user }}"
password = "{{ icinga_director_db_password }}"
charset = "UTF8"
persistent = "0"
use_ssl = "0"
